@font-face {
	font-family: 'young_serifregular';
	src: url(../../assets/fonts/youngserif-regular-webfont.woff2) format('woff2'),
	url(../../assets/fonts/youngserif-regular-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}