.cart-quantity {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 50%;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  transform: scale(0.7);
}

@media (max-width: 768px) {
  .cart-quantity {
    top: 0;
    right: 0;
  }
}

.cartTab {
  position: fixed;
  inset: 0 0 0 auto;
  grid-template-rows: 70px 1fr 70px;
  width: 50%;
  max-width: 0px;
  height: 100vh;
  background-color: #20202C;
  color: #ffffff;
  z-index: 1;
  border-radius: 20px 0;
  display: grid;
  transition: .5s;
}

.cartTab h1 {
  font-weight: 300;
  margin: 0;
  padding: 20px;
}

.total-price-container {
  color: #d5d5d5;
  text-align: center;
  border-radius: 20px;

  width: 100%;
  height: 3%;
  padding: 0;
  transform: translateY(40px);
}

.total-price-container span{
  height: 100%;
}

.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
}

.cartTab .btn button {
  background-color: #e8dc0e;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 17px;
  border-radius: 20px 20px 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s ease;
}

.cartTab .btn .close {
  background-color: #9e0000;
  color: #eee;
}

.cartTab .btn .close:hover {
  background-color: #914545;
  transition: 0.5s ease;
}

.cartTab .btn .checkOut:hover {
  background-color: #afaa42;
  transition: 0.5s ease;
}

.cartTab .listCart .item img {
  width: 100%;
}

.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 45px 90px 80px 1fr;
  gap: 8px;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .cartTab .listCart .item {
    grid-template-columns: repeat(2, 1fr);
  }
}

.listCart .quantity span {
  display: inline-block;
  width: 15px;
  height: 25px;
  background-color: #eee;
  color: #555;
  border-radius: 40%;
  cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
  background-color: transparent;
  color: #eee;
}

.listCart .item:nth-child(even) {
  background-color: #3C485A;
}

.listCart {
  overflow: auto;
  margin-bottom: -30px;

}

body.showCart .cartTab {
  max-width: 300px;
}

@media screen and (min-width: 980px) {
  body.showCart .page-content {
    transform: translateX(-250px);
  }
}

@media screen and (min-width: 980px) {
  .page-content {
    transition: .5s ease;
  }
}

