#mySidebar {
  border-radius: 0px 20px 20px 0;
}

/* Define a class for the link with a caret */

.with-caret {
  position: relative;
  transition: all 0.3s;
}

/* Define the caret as a pseudo-element */

.with-caret::before {
  content: "\f0da";
  font-family: FontAwesome;
  position: absolute;
  right: 1rem;
  opacity: 0;
  transition: all 0.3s;
}

/* Add a hover effect to scale and reveal the caret */

.with-caret:hover {
  transform: translateX(1rem);
}

.with-caret:hover::before {
  opacity: 1;
}

/* Define a class for the scaled text with the hover effect */

.italic-links {
  font-style: italic;
}

.category {
  font-family: 'young_serifregular';
}

.lobster {
  font-family: 'lobsterregular';
}

/* Define the style for the active button */
.category-filter.active {
  background-color: #CCCCCC; /* Change this to your desired background color */
  color: #000000; /* Change this to your desired text color */
  /* Add any other styling you want for the active button */
}

